

html {
    font-family: verdana;
    background-color: #203647;
    color: white;
}

#tablecont {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    font-size: small;
}

#col1{
    width: 40vw;
}

#col2{
    width: 40vw;
}

.table {
    background-color: #707070;
    border: solid black;
}

#curve_chart {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 60vh;
}

.title {
    color: #007cc7
}