<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1" />
  <title>Home</title>
</head>
<body>
  <div align="center">
    <form action="/iwm">
      <label for="startdate">Start-Date:</label><br>
      <input type="date" id="startdate" name="startdate" min="2005-01-03" max="2007-09-29"><br>
      <label for="enddate">End-Date:</label><br>
      <input type="date" id="enddate" name="enddate" min="2005-01-03" max="2007-09-29"><br><br>
      <input type="submit" value="IWM-Chart">
    </form>
    <br><br>
    <form action="/qqq">
      <label for="qqqStartdate">Start-Date:</label><br>
      <input type="date" id="qqqStartdate" name="startdate" min="2005-01-03" max="2007-09-29"><br>
      <label for="qqqEnddate">End-Date:</label><br>
      <input type="date" id="qqqEnddate" name="enddate" min="2005-01-03" max="2007-09-29"><br><br>
      <label for="amount">Amount in $:</label><br>
      <input type="text" id="amount" name="amount">
      <input type="submit" value="QQQ-Chart">
    </form>
  </div>
</body>
</html>